<h1>Desafio Nro 4 Backend</h1>
<h2>Federico Salom</h2>

<h2>Productos estaticos</h2>

<a href="/realtimeproducts">Productos en tiempo real!!</a>

<div>
  <ul>
  {{#each productos}}
    <li>
      {{title}} - {{price}} USD
    </li>
  {{/each}}
  </ul>
</div>
